body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    width: 90%;
    margin: 0 auto;
}

.counter {
    text-align: right;
}

.alert-outer {
    border: 1px solid red;
    background-color: rgba(255, 239, 213, 0.4);
    border-radius: 20px;
    position: relative;
}

.single-but,
.double-but,
.double-but-2 {
    padding-top: 20px;
    margin: 0 auto;
}

.but-1 {
    display: block;
    color: white;
    width: 70%;
    border-radius: 35px;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
}

.but-1:hover {
    background-color: rgb(6, 182, 64);
}

h2 {
    color: navy;
    text-decoration: underline;
}

#image {
    padding-top: 20px;
    padding-bottom: 20px;
}

input {
    width: 60%;
}

.single-but,
.double-but,
.double-but-2,
.hall-of-fame {
    display: none;
    width: 100%;
    margin-bottom: 20px;
}

#fame-name,
#fame-score {
    list-style-type: none;
    padding: 0;
}

#fame-name li {
    color: navy;
}

#fame-score li {
    color: purple;
}